# delete the ".example" file extension and add the scope in the filename ie: local.env
# ENVIRONMENT=local // this variable must be configured in dockerfile or server

# MySQL Connection
DB_MYSQL_USERNAME=root
DB_MYSQL_PASSWORD=root
DB_MYSQL_HOST=localhost:3306
DB_MYSQL_SCHEMA_NAME=appointments